#fallos{
	border: 1px solid #000;
	display: inline-block;
	position: fixed;
	top :5%;
	right: 10%;
	font-size: 40px;
}
button{
	/*pointer-events: none;*/
}

pre{
	/*height: 200px;*/
	/*border: 1px solid #00		0;*/
	/*border: 2px solid #000;*/
}

.abctext{
	display: none;
}
